// {{.MapSetterTypeNameValue}} []{{.MapSetterTypeNameValue}}
type {{.MapSetterTypeNameValue}} {{.MapCastType}}

func new{{.MapSetterTypeNameValue}}(val {{.MapSetterTypeNameValue}},
  p *{{.MapSetterTypeNameValue}}) *{{.MapSetterTypeNameValue}} {
	for k,v := range val {
		(*p)[k] = v
	}
	return p
}

// Set a map after parsing a string
func (slc *{{.MapSetterTypeNameValue}}) Set(s string) error {
	return MapFromText(slc, s)
}

// Get a map interface from the value
func (slc *{{.MapSetterTypeNameValue}}) Get() interface{} { return {{.MapCastType}}(*slc) }

// String join a string from map
func (slc *{{.MapSetterTypeNameValue}}) String() string {
  t := []string{}
  for k, v := range *slc {
    t = append(t, fmt.Sprintf("%v:%v", k,v))
  }
  return strings.Join(t, ",")
}

// {{.MapSetterTypeNameValue}}Var defines an map flag with specified name,
// default value, and usage string.  The argument p points to an map
// variable in which to store the value of the flag.
func (f *FlagSet) {{.MapSetterTypeName}}Var(p *{{.MapSetterTypeNameValue}}, name string, value {{.MapSetterTypeNameValue}}, usage string) {
	f.Var(new{{.MapSetterTypeNameValue}}(value, p), name, usage)
}

// {{.MapSetterTypeNameValue}}Var defines an map flag with specified name,
// default value, and usage string.  The argument p points to an map
// variable in which to store the value of the flag.
func {{.MapSetterTypeName}}Var(p *{{.MapSetterTypeNameValue}}, name string, value {{.MapSetterTypeNameValue}}, usage string) {
	CommandLine.Var(new{{.MapSetterTypeNameValue}}(value, p), name, usage)
}

// {{.MapSetterTypeNameValue}} defines an map flag with specified name,
// default value, and usage string.  The return value is the address
// of an map variable that stores the value of the flag.
func (f *FlagSet) {{.MapSetterTypeName}}(name string, value {{.MapSetterTypeNameValue}}, usage string) *{{.MapSetterTypeNameValue}} {
	p := new({{.MapSetterTypeNameValue}})
	f.{{.MapSetterTypeName}}Var(p, name, value, usage)
	return p
}

// {{.MapSetterTypeNameValue}} defines an map flag with specified name,
// default value, and usage string.  The return value is the address
// of an map variable that stores the value of the flag.
func {{.MapSetterTypeName}}(name string, value {{.MapSetterTypeNameValue}}, usage string) *{{.MapSetterTypeNameValue}} {
	return CommandLine.{{.MapSetterTypeName}}(name, value, usage)
}
